@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root{

    --primaria: 113, 53, 242;
    --branco: 255,255,255;
    --preto: 0,0,0;
    --verde: 106, 185, 130;

    --fontprimaria: 'Montserrat';
    --transition: all ease .3s;
    
    --radius: 6px;

}

html, body{
    font-family: var(--fontprimaria), sans-serif;
}

*, ul, li{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

h1{
   font-size: 2rem; 
   font-weight: 400;
}

h1.Title{
    color: rgba(var(--primaria), 1);
    margin-bottom: 1rem;
}

input, button, textarea, select{ font-family: var(--fontprimaria), sans-serif; }

img{ max-width: 100%; }

a{
    text-decoration: none;
}

header{
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--primaria), 1);
    position: fixed;
    top: 0px;
}

.logo img{
    width: auto;
    height: 3.5rem;
}

footer{
    width: 100vw;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--primaria), 1);
    bottom: 0px;
    position: fixed;
}

footer p{
    display: flex;
    color: rgba(var(--branco), 1);
    font-size: .7rem;
    align-items: center;
    gap: 0.3rem;
}

footer img{
    filter: invert();
    height: 20px;
}

footer a{
    color: #fff;
}

.bodyDash{
    height: calc(100vh - 7.5rem);
    background: #f1f1f1;
    top: 5rem;
    position: fixed;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    overflow-x: auto;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background: rgba(var(--primaria), .2);
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--primaria), .8);
}

.hidden{
    display: none !important;
}

#pageDash .bodyDash{
    align-items: center;
    justify-content: start;
    padding: 2rem;
}

/* ::-webkit-scrollbar-track-piece{
    background: rgba(var(--primaria), .1);
} */